<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">
</head>
<body>



<div class="container mt-5">
    <div class="row">
        <div class="col-12">
            <div class="table-responsive ">
                <table class="table table-striped">
                    <h2 th:text="${'Company: ' + company.name}"></h2>
                    <thead>
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Venue</th>
                        <th scope="col">Date</th>
                        <th scope="col">Event Type</th>
                        <th scope="col">Budget</th>
                    </tr>
                    </thead>
                    <tbody >
                    <tr th:each="eventCompany : ${eventsPerCompany}">
                        <td th:text="${eventCompany.eventName}"></td>
                        <td th:text="${eventCompany.eventVenue}"></td>
                        <td th:text="${eventCompany.eventDate}"></td>
                        <td th:text="${eventCompany.eventType}"></td>
                        <td th:text="${eventCompany.eventBudget}"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div>
                <a th:href="@{/events/newEventForm}" class="btn btn-sm btn-success">
                    Add new event
                </a>
            </div>
            <br>
            <div>
                <a href="/companies" class="btn btn-sm btn-primary">Back</a>
            </div>
        </div>
    </div>
</div>


</body>
</html>