<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Coordinators</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">
</head>
<body>

<div class="container mt-5">
    <div class="row">
        <div class="col-12" th:if="${coords.size() > 0}">
            <div class="table-responsive ">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th scope="col">Name:</th>
                        <th scope="col">Role:</th>
                        <th scope="col">Event name:</th>
                        <th scope="col">Company name:</th>
                    </tr>
                    </thead>
                    <tbody >

                    <tr th:each="coord : ${coords}">
                        <td th:text="${coord.coordinatorName}"></td>
                        <td>Coordinator</td>
                        <td th:text="${coord.eventName}"></td>
                        <td th:text="${coord.companyName}"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div>
                <a href="/events" class="btn btn-sm btn-primary">Back</a>
            </div>
        </div>
    </div>
</div>


</body>
</html>