<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div class="container mb-4">
    <div class="row">
        <div class="col-12">
            <div class="table-responsive ">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th scope="col">ID:</th>
                        <th scope="col">Name</th>
                        <th scope="col">Venue</th>
                        <th scope="col">Date</th>
                        <th scope="col">Event Type</th>
                        <th scope="col">Budget</th>
                        <th scope="col">Organising Company</th>
                        <th scope="col">Coordinator</th>
                    </tr>
                    </thead>
                    <tbody >
                    <tr th:each="event : ${events}" class="movie">
                        <td th:text="${event.id}"></td>
                        <td th:text="${event.name}"></td>
                        <td th:text="${event.venue}"></td>
                        <td th:text="${event.date}"></td>
                        <td th:text="${event.eventType}"></td>
                        <td th:text="${event.budget}"></td>
                        <td th:text="${event.company.name}"></td>
                        <td th:if="${event.coordinator != null}" th:text="${event.coordinator.name}"></td>
                        <td> <a th:href="@{'/events/attendance/{id}' (id=${event.id})}" class="btn btn-sm btn-success">
                            View Attendance List
                        </a></td>
                    </tr>
                    </tbody>
                </table>

            </div>
            <div>
                <a th:href="@{/events/newEventForm}" class="btn btn-sm btn-success">
                    Add new event
                </a>
            </div>
            <div>
                <a th:href="@{/events/coordinators}" class="btn btn-sm btn-success">
                    List Coordinators of Events
                </a>
            </div>
            <div>
                <a th:href="@{/events/perCompany}" class="btn btn-sm btn-success">
                    Events Per Company
                </a>
            </div>
        </div>
    </div>
</div>

</body>
</html>