<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div class="container mb-4">
    <div class="row">
        <div class="col-12" th:if="${people.size() > 0}">
            <div class="table-responsive ">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th scope="col">Name:</th>
                        <th scope="col">Role:</th>
                    </tr>
                    </thead>
                    <tbody >

                    <tr th:each="p : ${people}" class="movie">
                        <td th:text="${p.personName}"></td>
                        <td th:text="${p.roleType}"></td>
                    </tr>
                    </tbody>
                </table>

            </div>
        </div>
    </div>
</div>

</body>
</html>