<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>WP Exam</title>
</head>
<body>
<!-- The form should submit to ForumUsersController.create or ForumUsersController.update,
     depending on whether we are creating or editing an entity -->
<form th:method="post" th:action="@{/events/create/new}">
    <div>
        <label for="f1">Name</label>
        <input type="text"
               id="f1"
               name="name"
               required>
    </div>
    <div>
        <label for="f2">Venue</label>
        <input type="text"
               id="f2"
               name="venue"
               required>
    </div>
    <div>
        <label for="f3">Date</label>
        <!-- Do not set the value here -->
        <input type="date"
               id="f3"
               name="date"
               required>
    </div>
    <div>
        <label for="f6">Event Type</label>
        <input type="text"
               id="f6"
               name="eventType"
               required>
    </div>
    <div>
        <label for="f6">Budget</label>
        <input type="number"
               name="budget"
               required>
    </div>
    <div>
        <label>Company</label><br/>
        <select id="f4" name="companyId">
            <!-- For each type you should have one <option> like below  -->
            <option th:each="c : ${companies}"
                    th:value="${c.id}"
                    th:text="${c.name}"></option>
        </select>
    </div>
    <div>
        <label>Coordinator</label><br/>
        <select id="f5" multiple name="coordinatorId">
            <!-- For each interest you should have one <option> like below  -->
            <option th:each="person : ${people}"
                    th:value="${person.id}"
                    th:text="${person.name + '' + person.email}"></option>
        </select>
    </div>

    <button id="submit" type="submit">Add new Event</button>
    <a id="back" href="/users" type="button" class="btn btn-primary">Back to users</a>
</form>

<div>
    <ul id="nav">
        <li><a href="/static">Home</a></li>
        <li><a href="/login">Login</a></li>
        <li><a href="/logout">Logout</a></li>
    </ul>
</div>

</body>
</html>
